# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=5.2.00
Encoding=UTF-8
Name=OpenCASH-Qt Regtest
Icon=${SNAP}/qt-regtest.ico
MimeType=x-scheme-handler/opencash;
Exec=opencash.qt-regtest %u
Terminal=false
Categories=Office;Finance;
Comment=OpenCASH Core Regression Test (by OCASHCOIN-Project)
Keywords=internet;opencash;regtest;qt;crypto;currency;snap;snapcraft;OCASHCOIN-Project;project;daemon;cli;qt;zerocoin;zocash
