# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=5.2.00
Encoding=UTF-8
Name=Pivx-Qt
Icon=${SNAP}/opencash128.png
MimeType=x-scheme-handler/opencash;
Exec=opencash %u
Terminal=false
Categories=Office;Finance;Cryptocurrency;
Comment=OCASHCOIN Core (by OCASHCOIN-Project)
Keywords=internet;opencash;main;qt;crypto;currency;snap;snapcraft;project;
